.avatar{
    height: 125px;
    width:125px;
    border-radius: 100%;
    align-items: center;
    margin-top: 10px;
   
}
avatar-box{
    text-align:center;
}

.mini-post{
    width: 100%;
    height: auto;
}
.post-içerik{
    background-color: whitesmoke;
    height: 250px;
}
